/*CSS按照DOM结构自上而下*/
html,
body,
header,
section,
footer,
form,
input,
nav,
div,
li,
img,
span {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
	font:16px "Arial";	/*浏览器默认字体大小即16px, Arial属无衬线字体*/
	width: 100%;
	height: 2000px;
	background-color: #fff;
}

header {
	width: 100%;
	height: 42px;
	overflow: hidden;
}

nav {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	margin: 19px 0 5px 0;
	padding: 0 96px 0 0;
	color: #fff;
}

/*清浮动-Start*/
.clearfix::before,
.clearfix::after {
	content: "";
	display: table;     /*或 display: block;*/
}

.clearfix::after {
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clearfix {
	zoom: 1;			/*兼容 IE6/7*/
}
/*清浮动-End*/

a[class^=topnav] {
	float: left;
	display: inline-block;
	margin-left: 20px;
	font-size: 13px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: underline;
}

nav > a:link,
nav > a:visited {
	color: #333;
}

nav > a:hover,
nav > a:active {
	color: #2319DC;
}

nav .plain {
	font-weight: normal;
}

nav .more {
	position: absolute;
	right: 12px;
	display: block;
	width: 60px;
	height: 23px;
	color: white;
	background-color: #38f;
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid #38f;
}

section > .mid_wrapper {
	position: relative;
}

#logo {
	width: 100%;
	height: 132px;
	text-align: center;
}

#logo > img {
	width: 270px;
	height: 129px;
	outline: none;
}

input {
	border: 0;
	padding: 0;
}

#search {
	width: 641px;
	height: 37px;
	margin: 22px auto 0;
}

#search > .search_area {
	position: relative;
	display: inline-block;
	width: 540px;
	height: 36px;
	border: 1px solid #333;
	border-right: 0;
	outline: 0;
}

.camera {
	position: absolute;
	right: 11px;
	top: 50%;
	margin-top: -8px;
	width: 18px;
	height: 16px;
	background: #fff url('../img/camera.png') no-repeat 0 0;
	cursor: pointer;
}

.camera:hover {
	background-position: 0 -21px;
}

#search  .srch_text {
	display: inline-block;
	width: 500px;
	height: 22px;
	margin: 6px 0 0 7px;
	font: 16px/18px arial;
	text-align: left;
	background: transparent;
	border: 0;
	outline: 0;	
	z-index: 100;
}

.submit_area {
	display: inline-block;
	width: auto;
	height: auto;
	border-bottom: 1px solid transparent;
	vertical-align: top;
}

.submit_btn {
	width: 100px;
	height: 36px;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
	background: #3385FF;
	border-bottom: 1px solid #2d78f4;
	outline: medium;
	-webkit-appearance: none;  /*设置外观*/
	-webkit-border-radius: 0;
	cursor: pointer;
}