/*CSS按照DOM结构自上而下*/
/*CSS-reset*/
html,
body,
header,
section,
footer,
form,
input,
nav,
div,
p,
b,
li,
img,
span {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

img {
	border: none;
}

html,
body {
	font:16px "Arial";	/*浏览器默认字体大小即16px, Arial属无衬线字体*/
	width: 100%;
	background-color: #fff;
}

body > div.wrapper {
	/*外包裹元素最小布局宽度*/
	min-width: 500px;
}

header {
	width: 100%;
	height: 42px;
	overflow: hidden;
}

header > nav {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	margin: 19px 0 5px 0;
	padding: 0 96px 0 0;
	color: #fff;
}

/*清浮动-Start*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clearfix {
	zoom: 1;  /*兼容 IE6/7*/
}
/*清浮动-End*/

header nav > a {
	float: left;
	display: inline-block;
	margin-left: 20px;
	font-size: 13px;
	line-height: 24px;
	font-weight: bold;
	text-decoration: underline;
}

nav > a:link,
nav > a:visited {
	color: #333;
}

nav > a:hover,
nav > a:active {
	color: #2319DC;
}

nav a[class=plain] {
	font-weight: normal;
}

nav span a.more {
	position: absolute;
	right: 12px;
	display: block;
	width: 60px;
	height: 23px;
	color: white;
	background-color: #38f;
	font-size: 13px;
	line-height: 24px;
	text-align: center;
	text-decoration: none;
	border-bottom: 1px solid #38f;
}

section #logo {
	width: 100%;
	height: 132px;
	text-align: center;
}

section #logo > img {
	width: 270px;
	height: 129px;
	outline: none;
}

section form input {
	border: 0;
	padding: 0;
}

section #search {
	width: 641px;
	height: 40px;
	margin: 22px auto 0;
}

section form .search_area {
	position: relative;
	display: inline-block;
	width: 536px;
	height: 40px;
	border-right: 0;
	outline: 0;
}

section form .search_area:hover {
	border-color: #999 transparent #b3b3b3 #999;
}

section form span.camera {
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -8px;
	width: 18px;
	height: 16px;
	background: #fff url('../img/camera.png') no-repeat 0 0;
	cursor: pointer;
}

section form span.camera:hover {
	background-position: 0 -21px;
}

section form input.srch_text {
	width: 536px;
	height: 40px;
	font: 16px/20px arial;
	padding: 9px 7px;
	padding-right: 49px !important;
	border: 1px solid #b8b8b8;
	border-bottom: 1px solid #ccc;
	border-right: 0;
	vertical-align: top;
	outline: none;
	box-shadow: none;
}

section form input.srch_text:hover {
	border-color: #999 transparent #b3b3b3 #999;
}
/*搜索框获取焦点效果*/
section form input.srch_text:focus {
	border-top: 1px solid #38f !important;
	border-bottom: 1px solid #38f !important;
	border-left: 1px solid #38f !important;
}

/*js实现获取焦点效果所需class样式*/
section form span.searchfocus {
	/*!important覆盖:hover伪类效应*/
	border-top: 1px solid #38f !important;
	border-bottom: 1px solid #38f !important;
	border-left: 1px solid #38f !important;
}

.submit_area {
	display: inline-block;
	width: 102px;
	height: 40px;
	border: 1px solid #38f;
	border-bottom: 1px solid #2e7ae5;
	cursor: pointer;
	vertical-align: top;
	zoom: 1;
}

section form span input.submit_btn {
	width: 102px;
	height: 39px;
	color: white;
	font-size: 16px;
	letter-spacing: 1px;
	background: #38f;
	border-bottom: 1px solid #2868c8;
	outline: medium;
	-webkit-appearance: none;  /*设置外观*/
	-webkit-border-radius: 0;
}

section form span input.submit_btn:hover {
	background-color: #317ef3;
	box-shadow: 1px 1px 1px #ccc;
}

footer {
	display: block;
	/*需要利用margin: 0 auto;
	实现水平居中的元素的父级元素设置text-align: center;兼容低版本浏览器bug*/
	text-align: center;
	width: 100%;
	height: 310px;
	font: 12px arial;
	color: #999;
	overflow: hidden;
}

footer p {
	color: #666;
}

/*利用margin: 0 auto;可以使元素水平居中的条件
					1.要给居中的元素一个宽度，否则无效。
					2.该元素一定不能浮动或绝对定位，否则无效。
					3 在HTML中使用<center></center>标签，需考虑好整体构架，
					  否者全部元素都会居中的。
					4.有时需要给父级元素添加text-align: center;*/

/*尽量少用float,尽量多利用display: inline-block;替代float: left;*/
footer div.ft_wrapper {
	display: inline-block;
	width: 647px;
	height: 70px;
	/*实现水平居中*/
	margin: 240px auto 0;
	/*不优雅的实现水平居中的方法 不过百分比宽度时比较有效
	left: 50%;
	transform: translate(-320px, 240px);*/
}	

footer #btm-piccode,
footer #btm-piccode .piccode,
footer #btm-piccode .piccode-img,
footer #btm-piccode .piccode-text {
	float: left;
	display: inline-block;
}


footer #btm-piccode {
	width: 277px;
	height: 60px;
}

footer #btm-piccode .piccode {
	width: 122px;
	height: 60px;
}

footer #btm-piccode .piccode-img {
	width: 60px;
	height: 60px;
}

footer #btm-piccode .piccode-text {
	width: 52px;
	margin: 8px 0 0 10px;
}

footer #btm-piccode .left-img {
	background: url('../img/shouji_baidu.png') 0 0 no-repeat;
}

footer #btm-piccode .right-img {
	background: url('../img/nuomi_baidu.png') 0 0 no-repeat;
}

footer #btm-piccode .part-2 {
	margin-left: 30px;
}

footer #btm_statement {
	float: left;
	position: relative;
	display: inline-block;
	width: 340px;
	min-width: 340px;
	height: 70px;
	top: -6px;
	margin-left: 30px;
	text-align: left;
}

footer #btm_statement a,
footer #btm_statement a:link,
footer #btm_statement a:hover,
footer #btm_statement a:active,
footer #btm_statement a:visited {
	color: #999;
	outline: none;
}

footer #btm_statement p {
	display: inline-block;
	line-height: 22px;
	vertical-align: top;
	color: #999;
}

footer #btm_statement p:nth-child(2) {
	word-spacing: -1px;
	font-size: 10px;
}

footer #btm_statement .btm_nav > a:not(:nth-child(1)) {
	margin-left: 62px;
}

footer #btm_statement p > i {
	display: inline-block;
	width: 14px;
	height: 17px;
	position: relative;
	top: 3px;
	overflow: hidden;
}

footer #btm_statement p > i.small_icon_1 {
	background: url('../img/small_icons.png') -600px -96px no-repeat;
	margin-left: -1px;
}

footer #btm_statement p > i.small_icon_2 {
	background: url('../img/small_icons.png') -623px -96px no-repeat;
	margin-right: 5px;
}

