/*CSS-reset*/
html,
body,
img,
span {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	/*回退机制-兼容低版本浏览器*/
	background-color: rgba(255, 128, 0, .4);
	/*圆形径向渐变背景*/
	-webkit-background-image: radial-gradient(800px circle, #fff 200px, #333 800px);
    -moz-background-image: radial-gradient(800px circle, #fff 200px, #333 800px);
    -ms-background-image: radial-gradient(800px circle, #fff 200px, #333 800px);
    -o-background-image: radial-gradient(800px circle, #fff 200px, #333 800px);
	background-image: radial-gradient(800px circle, #fff 200px, #333 800px);
}

fieldset {
	position: absolute;
	display: inline-block;
	width: 60%;
	height: 75%;
	/*设定最小显示宽高*/
	min-width: 800px;
	min-height: 450px;
	top: 50%;
	left: 50%;
	/*百分比宽高元素利用transform: translate(-50%, -50%)实现垂直居中*/
	-webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 2px solid #0033FF;
	background-color: #fff;
	box-shadow: 8px 10px 20px #333;
}
/*右上角拟物化圆形图钉*/
fieldset::before {
	content: "";
	display: block;
	width: 60px;
	height: 60px;
	background-color: #0033FF;
	-webkit-background: radial-gradient(circle at 18px 15px, #fff 0px, #0033FF 20px);
    -moz-background: radial-gradient(circle at 18px 15px, #fff 0px, #0033FF 20px);
    -ms-background: radial-gradient(circle at 18px 15px, #fff 0px, #0033FF 20px);
    -o-background: radial-gradient(circle at 18px 15px, #fff 0px, #0033FF 20px);
	background: radial-gradient(circle at 18px 15px, #fff 0px, #0033FF 20px);
	border: 1px solid #0033FF;
	border-radius: 50%;
	position: absolute;
	top: -20px;
	right: 10px;
	box-shadow: 8px 10px 20px #333;
}

fieldset legend {
	position: absolute;
	width: auto;
	height: 40px;
	padding: 2px 10px;
	color: #0033FF;
	font: bolder 24px/40px "黑体";
	top: -28px;
	border: 6px solid #0033FF;
	background-color: #fff;
}

fieldset table {
	display: block;
	width: 750px;
	height: 368px;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -184px;
	margin-left: -376px;
	border: 2px solid #666;
	/*去除table元素间空隙*/
	border-collapse: collapse;
	border-spacing: 0;
	cursor: pointer;
	overflow: hidden;
}

table thead {
	padding: 0;
	box-shadow: 0 5px 5px #333;
}

table thead .tablehead {
	width: 120px;
	background: url('../img/books.png') no-repeat 28px 6px;
	background-size: 70px 50px;
}

table thead tr:last-child,
table thead tr:first-child > th:first-child {
	border-bottom: 3px solid #fff;
}
/*表格滚动到底部底部红色border提醒*/
table tbody tr:last-child,
table tbody tr:nth-last-child(3) > td:first-child {
	border-bottom: 3px solid #ee0000;
}

thead th {
	width: 60px;
	height: 30px;
	margin: 0;
	border-left: none;
	border-bottom: none;
	border-right: 1px solid #fff;
	border-top: 1px solid #fff
}

tbody td {
	width: 60px;
	height: 30px;
	margin: 0;
	border-left: none;
	border-bottom: none;
	border-right: 1px solid #333;
	border-top: 1px solid #333;
}

tbody td.timepart {
	width: 80px;
	font-weight: bold;
	/*保持字体&背景颜色不变*/
	color: #000 !important;
	background-color: transparent !important;
}

tbody td.num {
	width: 36px;
	font-weight: bold;
	/*background-color: transparent !important;*/
}

.fixedThead {
	display: block;
	width: 100%;
	color: #fff;
	font-weight: bolder;
	font-family: "宋体";
	background-color: #0033FF;
	overflow: hidden;
}

.scrollTbody {
	display: block;
	width: 100%;
	height: 300px;
	text-align: center;
	overflow-Y: auto;
	margin-right: -15px; 
}

/*设置浏览器滚动条样式 start (目前仅支持webkit内核)*/
.scrollTbody::-webkit-scrollbar {
	width: 2px;
	background: transparent;
	border: none;
}

.scrollTbody::-webkit-scrollbar-thumb {
	background-color: #0033ff;
}

.scrollTbody tr > td:last-child {
	/*为滚动条空出2px宽度*/
	width: 58px;
}
/*设置浏览器滚动条样式 end*/

/*光标滑过所在行非选中单元格s样式*/
table tbody tr:hover td:not(:hover) {
    background-color: #CCCCFF;
}
/*光标滑过所在行选中单元格样式*/
table tbody td:hover {
	color: #fff;
	font-weight: bolder;
    background-color: #FF3300;
}
/*表格斑马线条纹效果*/
tbody > tr:nth-child(even) {
	background-color: rgba(200, 200, 200, .3);
}

fieldset > span {
	display: inline-block;
	position: absolute;
	bottom: 16px;
	left: 45px;
	width: 24px;
	height: 24px;
	background: url('../img/label.png') no-repeat 0 0;
	background-size: 24px 24px;
}

/*左下角使用说明文字，不要将内容写在样式里，
  要将HTML结构和内容与CSS样式分离，避免不必要的维护成本和不符合前端规范的技术实现
  所以要将底部文字内容写在HTML结构便签内，培养好的前端编程习惯和规范*/
/*fieldset::after {
	content: "光标放在表格上 滚动鼠标滚轮可上下滚动查看:-)";
	display: inline-block;
	color: #0033FF;
	font: 14px "黑体";
	font-weight: bold;
	position: absolute;
	left: 70px;
	bottom: 20px;
}*/

/*将底部文字内容写在HTML结构的<em>便签内*/
fieldset em {
	color: #0033FF;
	font: 14px "黑体";
	font-weight: bold;
	position: absolute;
	left: 70px;
	bottom: 20px;
}